* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #666666;
}

.sec1 {
    padding: 50px 200px;
    background-color: #FEFCFB;
    width: 100%;
    height: auto;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding : 50px; */
    font-family: "Poppins", sans-serif;
}

.sec1 h2 {
    font-family: "Volkhov", serif;
    font-size: 24px;
    font-weight: bold;
    color: #222222;
}

.sec1 ul {
    list-style-type: none;
    display: flex;
}

.sec1 ul li a {
    text-decoration: none;
    padding-left: 4vh;
    color: #222222;
    font-size: 16px;
}

.sec1 .login1 {
    display: flex;
    gap: 6vh;
    /* text-align: center; */
    align-items: center;
    font-size: 16px;
}

.sec1 .login1 .login2 {
    color: #FD8D3A;
    /* padding-right: 60px; */
    font-weight: 600;
}

.sec1 .login1 .signup {
    color: white;
    background-color: #FA7436;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 15px 50px;
    font-weight: 600px;
}

.sec1 .sec1Main1 {
    display: flex;
    align-items: center;
    gap: 10px;
    /* vertically align text + image */
    justify-content: space-between;
    padding-top: 4vh;
}

.sec1 .sec1Main1 .sec1Main2 .sub1 {
    padding-top: 30px;
    color: #222222;
    font-weight: bold;
    font-size: 64px;
    font-family: "Volkhov", serif;
}

.sec1 .sec1Main1 .sec1Main2 span {
    color: #FA7436;
    font-family: "Volkhov", serif;
}

.sec1 .sec1Main1 .sec1Main2 .sub2 {
    padding: 2vh 0 4vh;
    word-spacing: 3px;
    line-height: 30px;
    font-size: 20px;
    color: gray;
    width: 550px;
    justify-content: left;
    color: #666666;
}

.sec1 .sec1Main1 .sec1Main2 a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #FA7436;
    border: 1px solid #FA7436;
    padding: 15px 25px;
    border-radius: 1vh;
}

.sec1 .bar {
    /* width: 840px; */
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
    border-radius: 5px;
    width: 841px;
    height: 12vh;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(186, 183, 183, 0.1);
}

.sec1 .bar .bar1 {
    display: flex;
    gap: 100px;
    font-size: 16px;
    color: #222222;
    font-weight: medium;
}

.sec1 .bar i {
    color: #FA7436;
}

.sec1 .bar p {
    font-size: 12px;
    color: #666666;
    font-weight: 500;
    padding-top: 10px;
}

.sec1 .bar .explore {
    text-decoration: none;
    background-color: #FA7436;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
}

.sec2 {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #F7F8FC;
    padding: 100px 200px;

}

.sec2 .text1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
    padding-left: 250px;
}

.sec2 .text1 .text11 .things {
    font-size: 50px;
    font-weight: bold;
    font-family: "Volkhov", serif;
    padding-bottom: 20px;
    color: #222222;

}

.sec2 .text1 .text11 .things span {
    font-size: 45px;
    font-weight: bold;
    font-family: "Volkhov", serif;
    color: #FA7436;
}

.sec2 .text1 .text11 .content {
    color: #666666;
    width: 482px;
    margin-left: 30px;
    font-size: 18px;
}

/* .sec2 .text1 img{
    width: 180px;
} */

.sec2 .cards {
    /* max-width: 90%; */
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: start;
    border-radius: 5px;
    box-shadow: 1px 2px 0 2px rgb(236, 220, 220, 0.1);

}

.sec2 .cards .card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 30px 30px 30px;
    background-color: white;
    width: 380px;
    width: 100%;
    /*Keep width as 100% for responsiveness*/
    border: #666666;
    border-radius: 10px;
}

.sec2 .cards .card h4 {
    font-size: 24px;
    font-weight: 600;
    color: #222222;
}

.sec2 .cards .card p {
    width: 280px;
}

.sec2 .cards .card1 {
    background-image: url("./images/Vector\ 4856.png");
}

.sec2 .cards .card2 {
    background-image: url("./images/Vector\ 4857.png");
}

.card img {
    width: 48px;
    /* or your preferred size */
    height: auto;
    /* maintain natural aspect ratio */
    padding-bottom: 30px;
}


.sec3 {
    background-color: #FEFCFB;
    padding: 100px 200px;
} 

.sec3 .content {
    text-align: center;
    margin-bottom: 50px;
}

.sec3 .content h4 {
    color: #222222;
    font-size: 48px;
    font-weight: bold;
    font-family: "Volkhov", serif;

}

.sec3 .content h4 span {
    color: #FA7436;
    font-size: 48;
    font-weight: bold;
    font-family: "Volkhov", serif;
}

.sec3 .content p {
    margin: 20px auto;
    text-align: center;
    width: 380px;
}

.sec3 .cards {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 20px;
    background-color: #FEFCFB;
}

.sec3 .cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(244, 241, 241);
    position: relative;
}

.sec3 .cards .card button {
    position: absolute;
    top: 45%;
    left: 25%;
    background-color: #FA7436;
    color: #FFFFFF;
    width: 132px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    display: none;
}

.sec3 .cards .card img {
    width: 100%;
    border-radius: 5px;
}

.sec3 .cards .card:hover {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.sec3 .cards .card img:hover+button {
    display: inline;
}

.sec3 .cards .card .rating {
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    padding: 0 20px;
}

.sec3 .cards .card .rating span {
    display: flex;
    gap: 5px;
    /* margin-left : 140px; */
}

.sec3 .cards .card .rating a {
    color: #222222;
    font-size: 20px;
    font-weight: medium;
    font-family: "Poppins", sans-serif;
}

.sec3 .cards .card .rating span a {
    color: #666666;
    font-size: 13px;
}

.sec3 .cards .card .location {
    padding: 0 18px 30px;
    display: flex;
    justify-content: space-between;
}


.sec3 .cards .card .location i {
    color: #999999;
}

.sec3 .cards .card .location .currency {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sec3 .cards .card .location .currency a {
    color: #FA7436;
    background-color: #FFE7DB;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 3px;
}

.sec3 .buttons {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.sec3 .buttons .arrow1 {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FEFCFB;
    border: 1px solid #999999;

    i {
        color: #999999;
    }
}

.sec3 .buttons .arrow1:hover {
    background-color: #FA7436;
    border: 1px solid #FA7436;

    i {
        color: #FFFFFF;
    }
}


.sec4 {
    width: 100%;
    height: auto;
    background-color: #FEFCFB;
    padding: 100px 200px;
}

.sec4 .vacation {
    display: flex;
    justify-content: center;
}

.sec4 .vacation .content h3 {
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 48px;
    color: #222222;
    text-align: center;
    padding-bottom: 15px;
}

.sec4 .vacation .content h3 span {
    font-family: "Volkhov", serif;
    font-weight: bold;
    font-size: 48px;
    color: #FA7436;
}

.sec4 .vacation .content p {
    width: 521px;
    font-size: 18px;
    text-align: center;
    color: #666666;
}

.sec4 .vacation img {
    width: 106px;
    height: 81px;
}


.sec4 .buttons {
    padding: 10px 0px 30px;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.sec4 .buttons .arrow1 {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FEFCFB;
    border: 1px solid #999999;

    i {
        color: #999999;
    }
}

.sec4 .buttons .arrow1:hover {
    background-color: #FA7436;
    border: 1px solid #FA7436;

    i {
        color: #FFFFFF;
    }
}

.sec4 .cards {
    display: flex;
    /* flex-wrap : wrap; */
    justify-content: center;
    gap: 20px;
}

.sec4 .cards .card {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 1px 2px 10px rgb(234, 231, 231);
}

.sec4 .cards .card img {
    width: 100%;
    overflow: hidden;
}

.sec4 .cards .card .content {
    padding: 0 20px;
}

.sec4 .cards .card .content .place {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
    color: #222222;

    .amount {
        color: #FA7436;
    }
}

.sec4 .cards .card .content .duration {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .trip i {
        color: #FA7436;
    }

    .rating {
        display: flex;
        gap: 5px;

    }

    img {
        width: 16px;
        padding-top: 3px;
    }
}


.sec5 {
    /* width: 1920px; */
    height: 596px;
    background-color: #F7F8FC;
}

.sec5 .all {
    display: flex;
    /* justify-content: center; */
}

.people {
    display: flex;
    gap: 20px;
    padding: 100px 200px;
}

.sec5 .left-content h4 {
    font-family: "Volkhov", serif;
    font-size: 48px;
    font-weight: bold;
    color: #222222;
    width: 387px;
}

.sec5 .left-content h4 span {
    font-family: "Volkhov", serif;
    font-size: 48px;
    font-weight: bold;
    color: #FA7436;
}

.sec5 .left-content p {
    padding: 20px 0;
    width: 394px;
    font-size: 16px;
    line-height: 32px;
    font-family: "Roboto", sans-serif;
}

.sec5 .left-content .buttons {
    display: flex;
    gap: 30px;
}

.sec5 .left-content .buttons .arrow1 {

    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FEFCFB;
    border: 1px solid #999999;

    i {
        color: #999999;
    }
}

.sec5 .left-content .buttons .arrow1:hover {

    background-color: #FA7436;
    border: 1px solid #FA7436;

    i {
        color: #FFFFFF;
    }
}

.sec5 .right-content {
    margin-left: 90px;
    position: relative;
}

.sec5 .right-content img {
    position: relative;
    z-index: 3
}

.sec5 .right-content .top {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px;
    width: 504px;
    height: 245px;
    line-height: 30px;

    .one {
        width: 402px;
        padding-bottom: 30px;
        color: #444444;
        font-weight: 500;

    }

    .two {
        font-size: 18px;
        font-weight: 600;
        color: #222222;
        padding-bottom: 5px;
    }

    .three {
        font-size: 14px;
        font-weight: 500;
        color: #666666;
    }
}

.sec5 .right-content .bottom {
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 90px;
    width: 502px;
    height: 232px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #F7F8FC;
    border-radius: 10px;
    box-shadow: 0 0 1px #666666;

    .one {
        font-size: 18px;
        font-weight: 600;
        color: #22222250;
    }

    .two {
        font-size: 14px;
        font-weight: 500px;
        color: #66666680;
    }
}

.sec5 .image {
    margin-left: 18%;
    margin-top: 50px;
}


.sec6 {
    background-color: #FEFCFB;
    padding: 100px 200px;
}

.sec6 .blog {
    font-family: "Volkhov", serif;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.sec6 .blog span {
    font-family: "Volkhov", serif;
    font-weight: bold;
    color: #FA7436;
}

.sec6 .cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
}

.sec6 .cards .card {
    width: 100%;
}

.sec6 .cards .card img {
    width: 100%;
}

.sec6 .cards .card .content {
    font-weight: 500;
    font-size: 18px;
    color: #222222;
    width: 244px;
    padding: 20px 0px;
}

.sec6 .cards .card .date {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #999999;
}

.sec6 .move-bar {
    display: flex;
    margin-top: 50px;
    margin-bottom: 230px;
    justify-content: center;
    gap: 10px;

}

.sec6 .move-bar i {
    color: #E5E5E5;
}

.sec6 .move-bar i:hover {
    color: #FA7436;
    border: 2px solid #FA7436;
    border-radius: 100%;
}


.last2sec {
    position: relative;
}

.sec67 .outer-box {
    width: 1190px;
    height: 416px;
    background-color: #FA7436;
    position: absolute;
    top: -190px;
    left: 200px;
    border-radius: 13px;
    background-image: url("./images/ellipse.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    justify-content: center;
}

.sec67 .box {
    display: flex;
    justify-content: space-between;
}

.sec67 .box p {
    font-family: "Volkhov", serif;
    color: #FFFFFF;
    font-size: 48px;
    width: 708px;
    height: 124px;
    text-align: center;
    margin-left: 220px;
    padding-top: 80px;
}

.sec67 .box .bar {
    margin-left: 220px;
    margin-top: 150px;
}

.sec67 .box .bar .content {
    padding: 20px 35px;
    width: 674px;
    height: 68px;
    border-radius: 10px;
    border: #FFFFFF;
}

.sec67 .box .bar .mail {
    position: absolute;
    top: 295px;
    left: 305px;

    i {
        color: #999999;
    }
}

.sec67 .box .bar .button {
    position: absolute;
    left: 830px;
    top: 283px;
    color: #FFFFFF;
    background-color: #FA7436;
    width: 132px;
    height: 50px;
    border: #FA7436;
    border-radius: 6px;
}

.sec7 {
    background-color: #F7F8FC;
    width: 100%;
    height: auto;
    padding: 50px 200px;
}

.sec7 .footer-top {
    display: flex;
    padding-top: 350px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.sec7 .footer-top .sub1 {
    width: 254px;
}

.sec7 .footer-top .sub1 h3 {
    font-family: "Volkhov", serif;
    font-size: 24px;
    color: #222222;
}

.sec7 .footer-top .sub1 p {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    padding: 15px 0;
}

.sec7 .footer-top .sub1 .icons {
    display: flex;
    gap: 15px;

    button {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: #FFFFFF;
        border: none;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}

.sec7 .footer-top .sub1 .icons :hover {
    background-color: #FA7436;
    color: #FFFFFF;
    border-radius: 100%;
}

.sec7 .footer-top .sub1 .icons button:hover {
    width: 48px;
    height: 48px;
}

.sec7 .footer-top .sub2 {
    p {
        color: #222222;
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 20px;
    }

    li {
        list-style-type: none;
        font-size: 16px;
        color: #666666;
        line-height: 35px;
    }
}

.sec7 .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}